// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  width: 100%;
  height: 100%

}

section.session {
  min-height:100%;
  min-width:100%;
  position: absolute;
  text-align: center;
  background-image:
  url("https://static.pexels.com/photos/414548/pexels-photo-414548.jpeg");
  min-height: 100%;
  	background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-position: center center;
}

section.session::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}


div.login {
  display: flex;
  flex-direction: column;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 330px;
  height: 400px;
  border-radius: 5px;
  background-color: white;
  padding: 20px 20px;
  box-shadow: 2px 2px 5px #888888
}

h4 img{
  text-align: center;
  height: 50px;
  width: 70px;
  margin: auto;
  padding: 8px;
  box-shadow: 2px 2px 2px white;
}

.login-title {
  font-size: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.session-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: center;
  margin: auto;
  position: relative;
  margin-top: 5px;

}
.session-form input {
  border-radius: 3px;
  border: solid #E8E8E8 1px;
  background-color: #E8E8E8;
  -webkit-appearance: none;
  margin: auto;
  padding: 8px;
  margin: 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  position:static;
}

.linkto-signup {
  font-size: 12px;
  left: 0px;
  right: 0px;
  text-align: center;
}

.linkto-signup a {
  margin: 5px;
  position: relative;
  text-decoration: underline;
}

div.signup {
  display: flex;
  flex-direction: column;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 330px;
  height: 430px;
  border-radius: 5px;
  background-color: white;
  padding: 20px 20px;
  box-shadow: 0px 0px 5px #888888
}

.signup h4 {
  position: relative;
  text-align: center;
  font-size: 28px;
  margin: auto;
  margin-top: 0px;;
}

.signup span {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.login-title {
  margin-top: 0;
}

.login h4 {
  margin-bottom: 10px;
  margin-top: 0px;
}
