/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
@import url(base/reset.css);
/* line 5, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/api/sessions.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

/* line 12, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/api/sessions.scss */
section.session {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  text-align: center;
  background-image: url("https://static.pexels.com/photos/414548/pexels-photo-414548.jpeg");
  background-size: cover;
}

/* line 22, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/api/sessions.scss */
section.session::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

/* line 33, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/api/sessions.scss */
div.login {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 330px;
  height: 400px;
  border-radius: 5px;
  background-color: white;
  padding: 20px 20px;
  box-shadow: 0px 0px 5px #888888;
}

/* line 50, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/api/sessions.scss */
h4 {
  position: relative;
  margin: 1px;
  font-size: 28px;
  text-align: center;
}

/* line 57, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/api/sessions.scss */
.session-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: center;
  margin: auto;
  position: relative;
}

/* line 65, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/api/sessions.scss */
.session-form input {
  border-radius: 3px;
  border: solid #E8E8E8 1px;
  background-color: #E8E8E8;
  -webkit-appearance: none;
  margin: auto;
  padding: 8px;
  margin: 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  position: static;
}

/* line 79, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/api/sessions.scss */
.linkto-signup {
  font-size: 12px;
  left: 0px;
  right: 0px;
  text-align: center;
}

/* line 86, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/api/sessions.scss */
.linkto-signup a {
  margin: 5px;
  position: relative;
  text-decoration: underline;
}

/* line 92, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/api/sessions.scss */
div.signup {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 330px;
  height: 400px;
  border-radius: 5px;
  background-color: white;
  padding: 20px 20px;
  box-shadow: 0px 0px 5px #888888;
}

/* line 109, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/api/sessions.scss */
.signup h4 {
  position: relative;
  text-align: center;
  font-size: 28px;
}

/* line 115, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/api/sessions.scss */
.signup span {
  text-align: center;
  font-size: 12px;
}

/* line 1, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/base/layouts.scss */
button {
  cursor: pointer;
  font-size: 14px;
  padding: 8px;
  -webkit-appearance: none;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
}

/* line 11, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/base/layouts.scss */
.session-form button {
  background-color: #b22222;
  color: white;
  border: solid #b22222 1px;
  margin: 5px;
  font-weight: bold;
  bottom: 70px;
}

/* line 20, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/base/layouts.scss */
button.login {
  background-color: #E8E8E8;
  color: gray;
  border: solid #E8E8E8 1px;
  margin: auto;
  font-weight: bold;
  width: 200px;
}

/* line 30, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/base/layouts.scss */
button.demo {
  background-color: blue;
}

/* line 1, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/navbar.scss */
i {
  font-weight: bold;
  color: #575757;
  padding: 10px;
  border-radius: 50%;
  margin: auto;
}

/* line 9, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/navbar.scss */
i:hover {
  cursor: pointer;
  background: #d5d5d5;
  transition: 0.25s ease-in-out;
}

/* line 16, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/navbar.scss */
.navbar {
  border: solid 2px #E8E8E8;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
}

/* line 24, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/navbar.scss */
.search {
  border-radius: 5px;
  background-color: #E8E8E8;
  display: flex;
  line-height: 20px;
  padding: 10px;
  width: 70%;
  height: 100%;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
}

/* line 38, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/navbar.scss */
.navbar h1 {
  font-size: 38px;
  padding: 10px;
  color: #575757;
  display: flex;
  font-family: 'Lemonada', cursive;
}

/* line 46, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/navbar.scss */
.navbar h1:hover {
  cursor: pointer;
}

/* line 1, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/api/errors.scss */
.error {
  color: red;
  font-size: 12px;
  font-style: bold;
}

/* line 1, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/boards.scss */
.boards-index {
  max-width: 1200px;
  padding: 0em 0em 2em 0em;
  display: -ms-flex;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  bottom: 10px;
  margin: auto;
}

/* line 14, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/boards.scss */
.boards {
  position: relative;
}

/* line 18, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/boards.scss */
.board-item {
  width: 250px;
  height: 150px;
  bottom: 10px;
  margin: auto;
  background-color: #E8E8E8;
  border-radius: 8px;
  padding: 10px;
  bottom: 200px;
  margin: 10px;
}

/* line 30, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/boards.scss */
.board-item:hover {
  background: #d5d5d5;
  border-radius: 5%;
  transition: 0.25s ease-in-out;
}

/* line 36, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/boards.scss */
.create-board-form {
  display: flex;
  flex-direction: column;
}

/* line 41, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/boards.scss */
.create-board-form h4 {
  font-family: 'Lemonada', cursive;
}

/* line 45, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/boards.scss */
.create-board-form input {
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-weight: 500;
}

/* line 53, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/boards.scss */
.add-board {
  margin: auto;
  background-color: #E8E8E8;
  border-radius: 8px;
  width: 250px;
  height: 150px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

/* line 64, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/boards.scss */
.add-board:hover {
  background: #d5d5d5;
}

/* line 1, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/navbar.scss */
i {
  font-weight: bold;
  color: #575757;
  padding: 10px;
  border-radius: 50%;
  margin: auto;
}

/* line 9, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/navbar.scss */
i:hover {
  cursor: pointer;
  background: #d5d5d5;
  transition: 0.25s ease-in-out;
}

/* line 16, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/navbar.scss */
.navbar {
  border: solid 2px #E8E8E8;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
}

/* line 24, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/navbar.scss */
.search {
  border-radius: 5px;
  background-color: #E8E8E8;
  display: flex;
  line-height: 20px;
  padding: 10px;
  width: 70%;
  height: 100%;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
}

/* line 38, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/navbar.scss */
.navbar h1 {
  font-size: 38px;
  padding: 10px;
  color: #575757;
  display: flex;
  font-family: 'Lemonada', cursive;
}

/* line 46, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/navbar.scss */
.navbar h1:hover {
  cursor: pointer;
}

/* line 3, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
img.pin {
  border-radius: 5%;
}

/* line 10, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
.pin-attr {
  float: left;
  width: 24%;
  margin: 0em 0.5% 0.5em 0.5%;
  padding: 5px;
}

/* line 18, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
.all-pins {
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;
  font-size: 0;
}

/* line 30, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
li.pin-attr:hover {
  cursor: zoom-in;
  background-color: #E8E8E8;
  border-radius: 5%;
}

/* line 36, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
.pin-name {
  font-size: 12px;
  margin-left: 15px;
  font-weight: 600;
}

/* line 42, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
.create-pin-form {
  margin: auto;
  text-align: center;
  height: 650px;
  width: 350px;
  border-radius: 30px;
}

/* line 50, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
.drop-zone {
  margin: auto;
  border: dotted 1px black;
  height: 413px;
  width: 236px;
  background-color: #E8E8E8;
  text-align: left;
  border-radius: 10px;
}

/* line 60, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
.create {
  background-color: #b22222;
  color: white;
  border: solid #b22222 1px;
  margin: auto;
  font-weight: bold;
  height: 30px;
  width: 150px;
  font-family: 'Lemonada', cursive;
}

/*Create Pins*/
/* line 73, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
.add {
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  background-color: white;
  color: black;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 2px 2px 2px #E8E8E8;
  font-size: 28px;
}

/* line 93, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
.add {
  transition: 0.35s ease-in-out;
  font-weight: 700;
}

/* line 99, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
.add:hover {
  background: #d5d5d5;
}

/* line 103, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
.create-pin-form {
  display: flex;
  flex-direction: column;
}

/* line 108, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
.new-pin-input {
  border: solid 1px black;
  display: inline;
  height: 30px;
  width: 230px;
  border-radius: 8px;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  background-color: #E8E8E8;
  font-weight: 600;
  text-align: left;
}

/* line 122, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
.create-pin-form h4 {
  font-family: 'Lemonada', cursive;
  font-size: 16px;
}

/* line 127, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/pins.scss */
.new-pin img {
  width: 236px;
  height: 413px;
  margin: auto;
}

/* line 1, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/user_profile.scss */
.profile {
  display: flex;
  flex-direction: row;
  width: 800px;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}

/* line 11, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/user_profile.scss */
h3.username {
  display: flex;
  flex: 1.5;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 100px;
  color: #575757;
}

/* line 21, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/user_profile.scss */
.pf-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  margin-left: 30px;
}

/* line 31, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/user_profile.scss */
.follows {
  display: flex;
  flex: 1;
}

/* line 36, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/user_profile.scss */
.follows a {
  margin: 10px;
  color: #b8b8b8;
  font-weight: 600;
}

/* line 42, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/user_profile.scss */
.follows a:hover {
  cursor: pointer;
  background: #d5d5d5;
}

/* line 47, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/user_profile.scss */
.board {
  color: #575757;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  position: absolute;
  left: 205px;
  top: 300px;
}

/* line 57, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/user_profile.scss */
.board a {
  display: inline-block;
  border-radius: 100px;
  margin: 8px;
  padding: 10px;
  height: 15px;
}

/* line 66, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/user_profile.scss */
.board a:hover {
  background-color: #E8E8E8;
  transition: 0.35s ease-in-out;
}

/* line 71, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/user_profile.scss */
.boards-link {
  background-color: #E8E8E8;
  position: absolute;
  float: right;
}

/* line 77, /Users/kuhlarebear/Documents/YourAesthetic/app/assets/stylesheets/components/user_profile.scss */
.pins-link {
  background-color: #E8E8E8;
  float: left;
}
