.boards-index {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0em 0em 2em 0em;
  top: 100px;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vw;
  font-size: 0;



}

.board-item {
  width:  250px;
  height: 150px;
  margin: auto;
  background-color: #E8E8E8;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-display: column;
}

.board-item:hover{
  background: darken(#E8E8E8, 7.5%);
  border-radius: 5%;
  transition: 0.25s ease-in-out;
}

.create-board-form {
  display: flex;
  flex-direction: column;
}

.create-board-form h4 {
  font-family: 'Lemonada', cursive;
}

.create-board-form input {
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-weight: 500
}

.add-board {
  margin: auto;
  background-color: #E8E8E8;
  border-radius: 8px;
}
