i {
  font-weight: bold;
  color: #575757;
  padding: 10px;
  border-radius: 50%;
  margin: auto
}

i:hover {
  cursor: pointer;
  background: darken(#E8E8E8, 7.5%);
  transition: 0.25s ease-in-out;
}


.navbar {
  border: solid 2px #E8E8E8;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.search-container {
  width: 70%;
}

.search {
  border-radius: 5px;
  background-color: #E8E8E8;
  line-height: 20px;
  padding: 10px;
  width: 100%;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  flex: 1;
}


.navbar h1 {
  font-size: 38px;
  padding: 10px;
  color: #575757;
  display: flex;
}

.navbar h1:hover {
  cursor: pointer;
}
