

img.pin {
  border-radius: 5px;
}

.list-of-pins {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

.pin-attr {
  display: inline-block;
  margin:  0.25rem;
  padding:  10px;
  width:  100%;
  border-radius: 5px;
}


.all-pins{


}

.pin-name {
  font-size: 12px;
  margin-left: 15px;
  font-weight: 600;
}

.create-pin-form {
  margin: auto;
  text-align: center;
  height: 650px;
  width: 450px;
  border-radius: 30px;
}

.drop-zone {
  margin: auto;
  border: dotted 1px black;
  height: 400px;
  width: 400px;
  background-color: #E8E8E8;
  text-align: left;
  border-radius: 6px;
}

.create {
  background-color: #b22222;
  color: white;
  border: solid #b22222 1px;
  margin: auto;
  font-weight: bold;
  height: 30px;
  width: 150px;
  font-family: 'Lemonada', cursive;

}

/*Create Pins*/
.add {
      position: fixed;
      bottom: 30px;
      right: 40px;
      z-index: 99;
      background-color: white;
      color: black;
      cursor: pointer;
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 50%;
      padding: 10px;
      box-shadow: 2px 2px 2px #E8E8E8;
      font-size: 28px;
    }


.add{
  transition: 0.35s ease-in-out;
  font-weight: 700;
}

.add:active {
  background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(8px);
}

.add:hover {
  background: darken(#E8E8E8, 7.5%)
}

.create-pin-form{
  display: flex;
  flex-direction: column;
}

.new-pin-input {
  border: solid 1px black;
  display: inline;
  height: 30px;
  width: 230px;
  border-radius: 8px;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  background-color: #E8E8E8;
  font-weight: 600;
  text-align: left;
}

.create-pin-form h4{
font-family: 'Lemonada', cursive;
font-size: 16px;
}

.new-pin img {
  width: 236px;
  height: 413px;
  margin: auto;
}

.pin-image {
  max-width: 80%;
  max-height: 100%;
  margin: auto;
  top: 50%;
  left: 50%;
  right: auto;

}

.save-pin {
  background-color: #b22222;
  color: white;
  border: solid #b22222 1px;
  margin: 5px;
  font-weight: bold;
  width: 100px;
  margin-left: 350px;

}

.pin-detail {
  margin: auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pin-detail-modal {
  margin: auto;
  border-radius: 5px;
}

.pin-detail h3 {
  font-family: 'Lemonada', cursive;
  margin: 0;
  font-size: 28px;
}


.overlay {
  position: absolute;
  padding-top: 0px;
  padding-left: 0;
  width: inherit;
  height: inherit;
  background-color: red;
  transition: background 0.5s ease;
}
.save-pin-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #b22222;
  color: white;
  border: solid #b22222 1px;
  margin: 5px;
  font-weight: bold;
  position: absolute;
  width: 100px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.pin-attr:hover .overlay {
  cursor: zoom-in;
  display: block;
 background: rgba(0, 0, 0, .3);
}

.pin-attr:hover .save-pin-button {
  opacity: 1;
}
