.all-pins {
  display: flex;
  margin: auto;
}
img.pin {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}


ul {
   -webkit-column-count: 4;
   -webkit-column-gap: 20px;
   width: 1100px;
   margin: auto;
   margin-top: 10px;
}

.pin:hover {
  cursor: zoom-in;
  background-color: #E8E8E8
}

.pin-name {
  font-size: 12px;
  margin-left: 15px;
}
