

img.pin {
border-radius: 5px;
}

img.pin:hover {
  cursor: zoom-in;
  color: white
}

.list-of-pins {
  -moz-column-width: 14em;
  -webkit-column-width: 14em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  align-items: center;
}

.pin-attr {
  display: inline-block;
  padding: 5px;
  width:  100%;
}


.all-pins{
  max-width: 95%;
  margin: auto;

}

.pin-name {
  font-size: 12px;
  font-weight: 600;
}

.pin-name:hover {
  cursor: zoom-in;
}

.create-pin-form {
  margin: auto;
  text-align: center;
  height: 650px;
  width: 450px;
  border-radius: 30px;
}

.drop-zone {
  margin: auto;
  border: dotted 1px black;
  height: 400px;
  width: 400px;
  background-color: #E8E8E8;
  text-align: left;
  border-radius: 6px;
  display: flex;
}

.create {
  background-color: #b22222;
  color: white;
  border: solid #b22222 1px;
  margin: auto;
  font-weight: bold;
  height: 30px;
  width: 150px;


}

/*Create Pins*/
.add {
      position: fixed;
      bottom: 30px;
      right: 40px;
      z-index: 99;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;
      width: 50px;
      height: 50px;
      padding: 10px;
      box-shadow: 2px 2px 2px gray;
      font-size: 28px;
      color: #b22222
    }


.add{
  display: flex;
  transition: 0.35s ease-in-out;
  font-weight: bolder;
    margin: 0 auto;
     padding: 0;
     display: table-cell;
     vertical-align: middle;



}

.add:active {
  background-color: gray;
box-shadow: 0 5px #666;
transform: translateY(8px);
}

.create-pin {

  align-self: center;
  align-items: center;
}
.add:hover {
  transform: translateY(-5px);
}

.create-pin-form{
  display: flex;
  flex-direction: column;
}

.new-pin-input {
  border: solid 1px black;
  display: inline;
  height: 30px;
  width: 230px;
  border-radius: 8px;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  background-color: #E8E8E8;
  font-weight: 600;
  text-align: left;
}

.create-pin-form h4{
font-size: 16px;
}

.new-pin{
  overflow: hidden;
  margin: auto;
  max-width: 100%;
  max-height: 100%

}

.pin-image {
  max-height: 90%;
  margin: auto;
  top: 50%;
  left: 50%;
  right: auto;
  overflow: hidden;

}

.save-pin {
  background-color: #b22222;
  color: white;
  border: solid #b22222 1px;
  margin: 5px;
  font-weight: bold;
  width: 100px;
  margin-right: 350px;

}

.pin-detail {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  width: 400px;
  height: 600px;
}

.pin-detail-modal {
  margin: auto;
  border-radius: 5px;
}

.pin-detail h3 {
  margin: 0;
  font-size: 28px;
}

.overlay {
  position: absolute;
  align-content: right;
  text-align: right;
  padding: 10px;
  width: inherit;
  height: inherit;
  transition: background 0.3s ease;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.save-pin-button {
  align-content: right;
  background-color: #b22222;
  color: white;
  border: solid #b22222 1px;
  font-weight: bold;
  position: absolute;
  width: 80px;
  text-align: center;
  opacity: 0;
  transition: opacity .2s ease;
}



.pin-attr:hover .save-pin-button {
  opacity: 1;
}

.icon-pushpin {
  color: white;
  z-index: 1;
}

.board-pin img {
  border-radius: 8px;
}
.boards-pins {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.board-pin {
  list-style: none;
  display: inline-block;
  padding: 5px;
  width:  100%;
}
