div.profile {
  display: flex;
  flex-direction: column;
}
div.banner {
  display: flex;
  margin: auto;
  justify-content: space-around;


}

img {
  border-radius: 50%;
  width: 160px;
  height: 150px;

}


.profile h3 {
  font-size: 48px;
  padding: 10px;
}
