.profile {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
  text-align: center;
  padding-top: 40px;

}
.user-info {
  display: flex;
}
h3.username {
  display: flex;
  flex: 1.5;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 100px;
  color: #575757;
}
 .pf-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  margin-left: 30px;

}


.follows {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.follows a {
  margin: 10px;
  color: #b8b8b8;
  font-weight: 600
}

.follows a:hover {
  cursor: pointer;
  background: darken(#E8E8E8, 7.5%)
}

.links {
  display: flex;
  margin: 8px;
  flex-direction: row;
}

.board a:hover {
  background-color: #E8E8E8;
  transition: 0.35s ease-in-out;
}

.boards-link {
  background-color: #E8E8E8;
  float: right;
  padding: 10px;
  border-radius: 8px;
}

.pins-link{
  background-color: #E8E8E8;
  padding: 10px;
  border-radius: 8px;

}

.boards-link:active{
  padding: 10px;
}
