.profile {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
  text-align: center;
  padding-top: 40px;

}
.user-info {
  display: flex;
}
h3.username {
  display: flex;
  flex: 1.5;
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 100px;
  color: #575757;
}
 .pf-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;

}


.follow-container {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
}

.following {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.follow-container a {
  margin: 10px;
  color: #b8b8b8;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.follows a:hover {
  cursor: pointer;
  background: darken(#E8E8E8, 7.5%);
  height: 30px;
}

.following a:hover {
  cursor: pointer;
  background: darken(#E8E8E8, 7.5%);
  height: 30px;
}


.links {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  text-align: center;
}

.board a:hover {
  background-color: #E8E8E8;
  transition: 0.35s ease-in-out;
}

.boards-link {
  background-color: #E8E8E8;
  margin-right: 10px;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
}

.pins-link{
  background-color: #E8E8E8;
  padding: 5px;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;

}

.boards {
  display: flex;
  flex-direction: row;
  column-count: 3;
  flex-wrap: wrap;
  margin: auto;
}


.links a {
  padding: 10px;
}

.follow-button {
  background-color: #FFB6C1;
  color: white;
  width: 100px;
  margin: auto;
  margin-top: 10px;
}

.more-info {
  display: flex;
  flex-direction: column;
}
