<!DOCTYPE html>
<html>
  <head>
    <title>Your Aesthetic</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <head>
  <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dwetqmwgw/image/upload/v1501170188/Aesthetic_v7ua52.png" />
</head>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
